<div class="row">
  <div class="col-xl-12">
<mat-card class="cardWithShadow">
    <mat-card-header>
      <mat-card-title>Destinatarios Disponiveis para Geração de Etiquetas</mat-card-title>
    </mat-card-header>  
    <mat-card-content>    
      <app-table-header-component (filtroGlobalChange)="applyFilter($event)"></app-table-header-component>

      <div class="table-responsive">
        <table mat-table [dataSource]="destinatarios" class="w-100 f-w-500 no-wrap">

          <ng-container matColumnDef="qtd">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Qtd</th>
            <td mat-cell *matCellDef="let element"><input matInput [value]="element.quantidade" name="element.quantidade" style="width:100%;" type="number" min="1" max="15" />
            </td>
          </ng-container>

          <ng-container matColumnDef="departamento">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Departamento</th>
            <td mat-cell *matCellDef="let element">{{ element.departamento.nomeDepartamento }}</td>
          </ng-container>

          <ng-container matColumnDef="destinatario">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Destinatário</th>
            <td mat-cell *matCellDef="let element">{{ element.destinatario.nome }}</td>
          </ng-container>

          <ng-container matColumnDef="endereco">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Endereço</th>
            <td mat-cell *matCellDef="let element">
              <span>{{element.destinatario.endereco}}, {{element.destinatario.numero}} </span><br />
              <b>{{element.destinatario.cidade}}/{{element.destinatario.uf}} </b>
            </td>
          </ng-container>

          <ng-container matColumnDef="entregaVizinho">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Entrega no Vizinho</th>
            <td mat-cell *matCellDef="let element">
                <input matInput type="text" formControlName="enderecoVizinho" name="enderecoVizinho" placeholder="Endereço Vizinho"/>
            </td>
          </ng-container>

          <ng-container matColumnDef="cep">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">CEP</th>
            <td mat-cell *matCellDef="let element">
              <div id="okCep{{element.idxTableItem}}">
                {{element.destinatario.cep}}
              </div>
              <div id="msgCep{{element.idxTableItem}}"></div>
            </td>
          </ng-container>

          <ng-container matColumnDef="servico">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Serviço</th>
            <td mat-cell *matCellDef="let element">
              <div id="okServico{{element.idxTableItem}}">{{ this.servicoSelecionado.grupo_servico }}</div>
              <div id="msgServico{{element.idxTableItem}}"></div>
            </td>
          </ng-container>

          <ng-container matColumnDef="registro">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Registro</th>
            <td mat-cell *matCellDef="let element">
              <select *ngIf="this.servicoSelecionado.grupo_servico == 'IMPRESSO' || this.servicoSelecionado.grupo_servico == 'MDPB'" value="element.rm" name="campo{{element.rm}}" placeholder="Registro">
                <option option *ngFor="let rm of rmOptions" [value]="rm.value">{{rm.label}}</option>
              </select>
              <b *ngIf="this.servicoSelecionado.grupo_servico != 'IMPRESSO' && this.servicoSelecionado.grupo_servico != 'MDPB'">---</b>
            </td>
          </ng-container>

          <ng-container matColumnDef="ar">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">AR</th>
            <td mat-cell *matCellDef="let element">
              <select value="element.ar" name="campo{{element.ar}}" (change)="updateArRowData(element, $event)" placeholder="A.R.">
                <option option *ngFor="let ar of arOptions" [value]="ar.value">{{ar.label}}</option>
              </select>
            </td>
          </ng-container>

                  <ng-container matColumnDef="mp">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">MP</th>
            <td mat-cell *matCellDef="let element">              
              <select *ngIf="this.servicoSelecionado.grupo_servico != 'MINI_ENVIOS'" value="element.mp" name="campo{{element.mp}}" (change)="updateMpRowData(element, $event)" placeholder="M.P.">
                <option option *ngFor="let mp of mpOptions" [value]="mp.value">{{mp.label}}</option>
              </select>
              <b *ngIf="this.servicoSelecionado.grupo_servico == 'MINI_ENVIOS'">NÃO</b>              
            </td>
          </ng-container>

            <ng-container matColumnDef="vd">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">VD</th>
            <td mat-cell *matCellDef="let element">              
              <input
                type="text"
                matInput
                id="okVd{{element.idxTableItem}}"
                (change)="updateVdRowData(element, $event)"
                placeholder="V.D. (R$)"
                [mask]="'separator.2'"
                [thousandSeparator]="'.'"
                [decimalMarker]="','"
                [dropSpecialCharacters]="true"
                [prefix]="'R$ '"
                [suffix]="''"
                [max]="99990"
                [value]="element.vd"
              />
              <div id="msgVd{{element.idxTableItem}}"></div>              
            </td>
          </ng-container>

            <ng-container matColumnDef="chaveNF">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Chave da NF</th>
            <td mat-cell *matCellDef="let element">              
              <input matInput type="text" [value]="element.chaveNF || ''" (change)="updateChaveNFRowData(element, $event)" name="chaveNF" placeholder="Chave da NF"/>              
            </td>
          </ng-container>

          <ng-container matColumnDef="conteudo">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Conteúdo</th>
            <td mat-cell *matCellDef="let element">              
              <input matInput type="text" [value]="element.conteudo" name="conteudo" (change)="updateConteudoRowData(element, $event)" placeholder="Conteúdo"/>              
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Remover</th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <a (click)="removerDestinatario(element)" class="m-r-10 cursor-pointer"><mat-icon name="trash" class="icon-18"></mat-icon></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="destinatariosColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: destinatariosColumns"></tr>
        </table>
      </div>
      <div class="row justify-content-center">
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      <mat-checkbox value="checkEnvelope" class="margin" style="margin-left: 10px;"> DECLARO QUE ESTAS POSTAGENS SÃO DE ENVELOPES OU QUE SOU ISENTO DE TRIBUTAÇÃO.</mat-checkbox>
      <mat-card-actions class="d-flex gap-16 justify-content-end">              
        <button mat-flat-button color="primary" (click)="validarPostagens()" [disabled]="!destinatarios.data.length">Validar Potagens</button>
        <button mat-flat-button color="primary" (click)="consultaCep()" [disabled]="!destinatarios.data.length">Consultar CEP</button>
        <button mat-flat-button color="primary" (click)="efetuaPrePostagens()">Efetuar Pré-Postagens</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  </div>        
</div>
